@import '~bpk-mixins';

.Price {
   
    &__footer {
        margin-top: 8%;
        float: left;
        width: 100%;
    }
    &__button {
        width: 50%;
        float: right;
        margin-top: 5%;
    }
    &__airline {
            width: 50%;
            float: left;
        &__price {
            font-size: 27pt;
            font-weight: bold;
        }
        &__name {
            font-size: 15pt;
            color: #ADADAD;
            margin-top: 8%
        }
        &__select {
            float: right
        }
    }
}